.WeatherForecast {
  font-family: "EB Garamond", serif;
  text-align: center;
  color: #5f595d;
  margin: 0 auto;
  padding-top: 0;
  border-top: 1px solid #e2dfdf;
  border-bottom: 1px solid #e2dfdf;
}

.WeatherForecast canvas {
  display: block;
}
