.WeatherForecast {
  font-family: "EB Garamond", serif;
  text-align: center;
  color: #5f595d;
  margin: 0 auto;
  padding-top: 0;
  border-top: 2px solid rgb(241, 241, 241);;
  border-bottom: 2px solid rgb(241, 241, 241);;
}

.WeatherForecast canvas {
  display: block;
}
